.inner-section {
    background: #fff;
    color: #022123;
    padding: 166px 0 64px;
}

.inner-section--partners {
    padding: 90px 0 64px;
}

.inner-section--bg--grey {
    background: #f4f5f5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 61px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 20px;
    margin-bottom: 27px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners__item:nth-child(4n + 1) a {
    justify-content: flex-start;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
   /* filter: grayscale(100%);

.partners__link:hover {
    filter: grayscale(0);
}    Делаем логотипы серыми с цветом при hover */ 
