
.top-line--reviews {
    min-height: 415px;
}

.page-title--reviews {
    margin-bottom: 114px;
}

.pager--reviews {
    margin-bottom: 40px;
}

.inner-section--reviews {
    padding: 73px 0 64px;
}

.inner-section__title--reviews {
    margin-bottom: 46px;
}

.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-top: 59px;
    margin-bottom: 52px;
}

.reviews__item {
    margin-bottom: 20px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 53px 30px 20px;
    background: #f4f5f5;

}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    margin-bottom: 11px;
}

.review__user:hover {
    color: #4d76a1;
    text-decoration-line: underline;
    transition: .2s;
}

.review__user:after {
    content: url("../../img/socials/vk-blue\ 1.png");
    height: 29px;
    margin-left: 10px;
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    background-repeat: 50%;
    margin-right: 20px
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #333;
    padding: 10px 25px;
    border-radius: 50px;
    background: #e6e6e6;
    margin-right: 14px
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-size: 30px;
    color: #202123;
    font-weight: bold;
    margin-bottom: 23px;
}

.review__content-text {
    margin-bottom: 50px;
    line-height: 27px;
    color: #818181;
}

.review__date {
    font-size: 14px;
    color: #202123;
    font-weight: bold;
}